.exersice{
    padding-left: 3vw;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 0.5vh;
    border-radius: 6px;
    padding: 0vh;
    transition: background-color 0.2s;

    margin-left: 1vw;
}

.exersiceStuff{
    display: flex;
    flex-direction: column;
    padding: 0vw;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: #2f2f40;
    border-radius: 8px;
    border: 1px solid #00adb5;
    transition: all 0.3s ease;
    margin: 0;
}

.exersiceStuff:hover{
    box-shadow: 0 0 12px #00adb5;
}

.exersiceStuff img{
    width: 2.5vh;
    height: 2.5vh;
}

.exersiceStats{
    display: flex;
    flex-direction: row;
}

.name{
    font-size: 5vh;
    margin-right: 0.5vh;
    cursor: pointer;
}

.weight:hover, .reps:hover, .name:hover, .count:hover{
    text-decoration: underline;
    color: #00adb5;
}

.x, .reps{
    margin-right: 1vw;
}

.weight{
    margin-right: 0.3vw;
}