body{
    user-select: none;
    font-size: 4vh;

    display: flex;
    justify-content: center;


    margin: 0;
    padding: 0;

    background-color: #242424;
    color: white;
}

#trainingsplan{
    user-select: none;
    display: flex;
    flex-direction: column;
}

#titel{
    font-size: 5vh;
    margin-top: 0;
}

.folder{
    padding-left: 3vw;
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
}

.exersice{
    padding-left: 3vw;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 0.5vh;
}

.weight{
    margin: 0;
    margin-right: 0.5vw;
}

.weight:hover, .reps:hover, .name:hover{
    text-decoration: underline;
}

.reps{
    margin: 0;
    margin-right: 1vw;
}

.name {
   margin: 0;
   cursor: pointer;
   margin-right: 1vw;
}


p{
    margin: 0;
}

img{
    width: 4vh;
    height: 4vh;
    cursor: pointer;
    margin-left: 0.5vh;
}

img:hover{
    width: 4.5vh;
    height: 4.5vh;
}

.folderStuff{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: underline;
}

.exersiceStuff{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 2vw;
    background-color: #333333;

    border: 1px solid white;
}