body{
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

#chartScroll {
    width: 100vw;
    height: 100vh;
    overflow-x: auto;

    display: flex;
    align-items: center;

    margin-left: 1vh;

}


.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}